product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Photos/Photos.apk
product/app/YouTube/YouTube.apk
product/priv-app/DevicePersonalizationPrebuiltPixel2024-U34_V.9_playstore_aiai_20240822.00_RC07/DevicePersonalizationPrebuiltPixel2024-U34_V.9_playstore_aiai_20240822.00_RC07.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreVic.apk
vendor/apex/com.google.pixel.camera.hal.apex
